/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.blok {
  padding: 20px;
}

.levy {
  background-color: #f1c40f;
}
.horni {
  background-color: #2ecc71;
}
.dolni {
  background-color: #e74c3c;
}

/* ---------------------------------------------------- */

.blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pravy {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 50%;
}

.horni {
  flex-basis: 50%;
}

.dolni {
  flex-basis: 50%;
}

.levy {
  flex: 0 0 50%;
}

.kontejner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}